*{
    margin: 0;
    padding: 0;
}

@font-face {
font-family: "HelveticaNeue";
src: url("../fonts/HelveticaNeue.ttf");
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
}

/* The Close Button */
.close {
    font-size: 30px;
    color: #000;
    padding : 20px;
}

.close:hover,
.close:focus {
    color: #00bcd4;
    text-decoration: none;
    cursor: pointer;
}

#myModal{
    width: 498px;
    height: 530px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    display: none;
}
.modal-content h1{
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 26px;
    color: #253238;
    font-weight: 400;
    font-family: HelveticaNeue;
    }
	
.modal-content div#input{
        width: 338px;
        margin: 0 auto;
        margin-top: 80px;
    }
    
table#form td input[type="text"], table#form td input[type="email"]{
        width: 317px;
        height: 40px;
        padding-left: 15px;
        margin-bottom: 20px;
        border: 1px solid #dbdbdb;
        font-size: 14px;
        background: #f6f9fc;
		color:#253238;
    }
    input[type="submit"]{
        margin-top: 30px;
        width: 338px;
        height: 40px;
        border: 1px solid #dbdbdb;
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        background: #00bcd4;
    }
    
    .mandatory{
        padding: 20px 0 50px 0;
        font-size: 14px;
        color: #7a7a7a;
        letter-spacing: 1px;
    }


/* register button  */

.btn-register{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    background-color: #00bcd4;
    border-style: none;
    color: #fff;
    font-size: 30px;
    border-radius: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #ff0000;
    border-right: 2px solid #ff0000;    
}