{% load custom_filters %}
<div id="myModal" class="modal">
	<div class="modal-content">
		<span class="close">&#10005;</span>
		<div id="form">
				<form action="#" name="registration">
					<h1>Add your Cowork</h1>
						<div id="input">
							<table id="form">
								<tr>
									<td><input type="text" placeholder="Cowork Name*" required></td>
								</tr>
								<tr>
									<td><input type="text" placeholder="Person Name*" required></td>
								</tr>
								<tr>
									<td><input type="email" placeholder="Email" required></td>
								</tr>
								<tr>
									<td><input type="text" id="code" minlength="10" maxlength="20" placeholder="Phone" maxlength="12" onclick="phone();" required></td>
								</tr>

								<tr>
									<td><input type="submit" value="Submit"></td>
								</tr>
								<tr>
									<td class="mandatory">*Mandatory Fields</td>
								</tr>
							</table>
						</div>
				</form>
        </div>
	</div>
  </div>
