{% load custom_filters %}
<div id="contact-wework-modal" class="modal">
	<div class="modal-content">
		<span class="contact-wework-close">&#10005;</span>
		  <div id="form">
				<form id="contact-cowork-form" name="registration">
					<div id="name"><p>Message {{data.name}}</p></div>
						<div id="input">
							<table id="form">
								<tr>
									<td><input type="text" id="contact-name" placeholder="Name*" required></td>
								</tr>
								<tr>
									<td><input type="email" id="contact-email" placeholder="Email*" required></td>
								</tr>
								<tr>
									<td><input type="text" id="contact-phone" minlength="10" maxlength="20" placeholder="Phone" maxlength="12" onclick="phone();" required></td>
								</tr>
								<tr>
									<td><textarea name="" id="contact-message" cols="30" rows="10" minlength="3" maxlength="100" placeholder="Message" required></textarea></td>
								</tr>
								<tr>
									<td><input type="submit" value="Submit"></td>
								</tr>
								<tr>
									<td class="mandatory">*Mandatory Fields</td>
								</tr>
							</table>
						</div>
				</form>
           </div>
	</div>
  </div>

