{% extends "index.html" %}

{% block content %}
        <div class="promo-block">
            <div class="container">

            </div>
        </div>
        <div class="container">
            <div class="form-container">
                <h1>
                    Contact Us
                </h1>
                <form method="post" id="reused_form" >
                    <label for="name">Your Name:</label>
                    <input id="name" type="text" name="Name" required maxlength="50">
                    <label for="email">Email Address:</label>
                    <input id="email" type="email" name="Email" required maxlength="50">
                    <label for="message">Message:</label>
                    <textarea id="message" name="Message" rows="10" maxlength="6000" required></textarea>
                    <button class="button-primary" type="submit" >Post</button>
                </form>
                <div id="success_message" style="display:none">
                    <h3>Submitted the form successfully!</h3>
                    <p> We will get back to you soon. </p>
                </div>
                <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
            </div>
            <div>
                <h2>Contact us on:</h2>
                <p> +91 9916777170 </p>
                <p> +91 9916777170 </p>
            </div>
        </div>

{% endblock %}