{% extends 'base.html' %}

{% load custom_filters %}

{% block custom_css %}
    <link rel="stylesheet" href="{% custom_static 'assets/css/startup.css' %}">
{% endblock %}
{% block content %}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
  <!-- Overlay -->
  <!-- <div class="overlay"></div> -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
		<div class="hero-container">
			<div class="wow fadeIn">
				<h1>Start Coworking</h1>
			</div>
			<div class="actions">
				<a href="/coworks/bengaluru" class="btn-get-started">View Coworks</a>
			</div>
		</div>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
		<div class="hero-container">
			<div class="wow fadeIn">
				<h1>Start Coworking</h1>
			</div>
			<div class="actions">
				<a href="/coworks/bengaluru" class="btn-get-started">View Coworks</a>
			</div>
		</div>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
		<div class="hero-container">
			<div class="wow fadeIn">
				<h1>Start Coworking</h1>
			</div>
			<div class="actions">
				<a href="/coworks/bengaluru" class="btn-get-started">View Coworks</a>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Why Coworks?</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><img src="{% custom_static 'assets/images/Economical.png' %}"/></div>
          <h4 class="service-title economicalTitle">ECONOMICAL</h4>
          <p class="service-description">Right fit on less price <br>including free amenities</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><img src="{% custom_static 'assets/images/Community.png' %}"/></div>
          <h4 class="service-title communityTitle">COMMUNITY</h4>
          <p class="service-description">Join the group of highly motivated passionate professionals</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><img src="{% custom_static 'assets/images/Room To Expand.png' %}"/></div>
          <h4 class="service-title roomTitle">ROOM TO EXPAND</h4>
          <p class="service-description">Easily accomodate your growing team</p>
        </div>
       </div>

	   <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><img src="{% custom_static 'assets/images/Superior Work Location.png' %}"/></div>
          <h4 class="service-title workLocationTitle">SUPERIOR WORK LOCATION</h4>
          <p class="service-description">Right fit on minimal <br>budget with multiple benefits</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><img src="{% custom_static 'assets/images/No OVerheads.png' %}"/></div>
          <h4 class="service-title overheadTitle">NO OVERHEADS</h4>
          <p class="service-description">Join the group of highly motivated passionate professionals</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><img src="{% custom_static 'assets/images/Productivity.png' %}"/how></div>
          <h4 class="service-title productivityTitle">PRODUCTIVITY</h4>
          <p class="service-description">Easily accomodate your growing team</p>
        </div>
       </div>
	   
    </div>
  </section>

     <div class="container space-container">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Space Types</h3>
          <div class="section-title-divider"></div>
        </div>
     </div>
	<div class="row space-types">
        {% for space_type in space_types %}
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="card h-600">
            <a href="#"><img class="card-img-top" src="{% custom_static 'assets/images/cardImage.jpg' %}" alt=""></a>
            <div class="card-body">
				<div class="upper-card-body">
					<h4 class="card-title">
					<a href="#">{{space_type.name}}</a>
					<div class="card-title-divider"></div>
				  </h4>
				  <p>{% if space_type.description %}{{space_type.description}} {% else %}
                      Desk space whenever you need on a first come,
                      first served basis.Get a laptop, pick any of the unoccupied or available seats and start working
                      {% endif %}</p>
				</div>
			</div>
            <div class="lower-card-body">
				<h4>Suitable for :</h4>
            {% if space_type.suitable_for %}
                <ul class="card-text">
                    {% for usage in space_type.suitable_for %}
                        <li>{{usage}}</li>
                    {% endfor %}
                </ul>
            {% else %}
			  <ul class="card-text">
				<li>Part time workers</li>
				<li>Meetings</li>
				<li>Around a week/month</li>
			  </ul>
            {% endif %}
			  <div class="actions">
				<a href="/coworks/bengaluru" class="btn-get-started">Get Started</a>
		    </div>
			</div>
          </div>
        </div>
        {% endfor %}
		<!--<!--<div class="col-lg-4  col-md-4 col-sm-6">-->
          <div class="card h-600">
            <a href="#"><img class="card-img-top" src="{% custom_static 'assets/images/cardImage.jpg' %}" alt=""></a>
            <div class="card-body">
              <div class="upper-card-body">
				<h4 class="card-title">
                <a href="#">Private Desk</a>
				<div class="card-title-divider"></div>
              </h4>
			  <p>Fully serviced and enclosed offices that can house any number of team size.Includes modern furniture,desks,chairs,hi speed internet and utilities</p>
			</div>
           </div>
            <div class="lower-card-body">
				<h4>Suitable for :</h4>
			  <ul class="card-text">
				<li>Medium team sizes(5-50)</li>
				<li>More Authority & Privacy</li>
				<li>Developing Gravitas</li>
			  </ul>
			  <div class="actions">
				<a href="#about" class="btn-get-started">Get Started</a>
		    </div>
            </div>
          </div>
        </div>
       </div>
  </div>
  
  <section id ="booking">
		<div class="container wow fadeInUp">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-title">How to Book ?</h3>
					<div class="section-title-divider"></div>
					<p class="booking-text">Book a cowork in just 3 steps</p>
			</div>
			<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class ="booking-container">
							<a href="/coworks/bengaluru"><img class="" src="{% custom_static 'assets/images/Browse_Search.png' %}" alt=""></a>
						</div>
						<p class="booking-description"><a href="/coworks/bengaluru" id="browse-booking">Browse</a> from all available <br>Coworks</p>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class ="booking-container">
							<a href="#"><img class="" src="{% custom_static 'assets/images/Shortlist.png' %}" alt=""></a>
						</div>
						<p class="booking-description"><a href="/coworks/bengaluru" id="browse-booking">Shortlist</a> the Cowork that<br>suits you the best</p>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class ="booking-container">
							<a href="#"><img class="" src="{% custom_static 'assets/images/Book a Tour.png' %}" alt=""></a>
						</div>
						<p class="booking-description"><a href="/coworks/bengaluru" id="browse-booking">Book a tour</a> to the selected <br>Cowork</p>
					</div>
			</div>
			<div class="row bookNowContainer">
				<div class="actions">
					<a href="/coworks/bengaluru" class="btn-get-started">Book Now</a>
		     </div>
			</div>
		</div>
  </section>
  
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="subscribe-title">Why lease a place,when you can rent a desk</h3>
          <p class="subscribe-text">Explore all the coworks and choose the one which suits you the best!</p>
		  <a href="#"><p class="subscribe-link"><u>Explore Now</u></p></a>
		  <a href="#"><img src="{% custom_static 'assets/images/small_logo.png' %}"></a>
        </div>
      </div>
    </div>
  </section>
  
  <div class="container ">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Most Popular Coworks</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

     <div class="row popular-cowork">
     {% for cowork in most_popular_coworks %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{% custom_static 'assets/images/cardImage.jpg' %}" alt=""></a>
            <div class="cardContent">
				<h3>{{cowork.name}}</h3>
				<p><img src="{% custom_static 'assets/images/Location.png' %}" alt=""/>{{cowork.location__name}}, India</p>
			</div>
          </div>
        </div>
     {% endfor %}
      </div>
 </div>
  
  <section id="add-work">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Do You own a Coworking space? List with us</h3>
        </div>
        <div class="col-md-4 add-btn-container">
          <a class="add-btn" href="#">Add Your Cowork</a>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}