<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Startup Network</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/startup.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/listing.css"> -->
  <link rel="stylesheet" href="css/details.css">
  <script src="js/jquery-1.10.2.min.js"></script>
   <script src="js/jRate.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  
   <script type="text/javascript">
		$(function () {
			var that = this;
			var toolitup = $(".rating-container").jRate({
				rating: 1,
				startColor: "#008489",
				endColor: "#008489",
				strokeColor: "#008489",
				strokeWidth:"20px",
				precision: 1,
				width: 22,
				height: 22
			});
			
		});
	</script>
 
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
	  <div>
		<a class="navbar-brand" href="#"><img src="images/logo.png" alt="The Startup Network"></a>
	  </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav nav-startup">
        <li><a href="#">Startups</a></li>
        <li><a href="#">Entrepreneur</a></li>
        <li class="active"><a href="#">Coworks</a></li>
      </ul>
	  
	  <ul class="nav navbar-nav navbar-right">
		<li><a class="sign-up" href="contactus.html"><span class="glyphicon glyphicon-phone-alt"></span>Get In Touch</a></li>
        <li><a class="sign-up" href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        <li><a class="log-in" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
	  
	 <div class="navbar-form navbar-right" role="search">
		<form class="site-search" role="search" method="get" action="">
			<input type="search" name="search" placeholder="Search by name, place, type" value="">
			<button type="submit" value="Search"><i class="glyphicon glyphicon-search"></i></button>
		</form>
	</div> 
	
    </div>
  </div>
</nav>

<section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="actions bottom-right">
			<a href="#about" class="btn-get-started">View All Photos</a>
		</div>
      </div>
    </div>
</section>

<div class="container">
	<div class ="row">
		<div class ="col-lg-8 col-md-8 col-sm-6">
			<div class="detail-container">
				<div class="worker-name">
					<h4 class="card-title">
						<a href="#">WeWork,Koramangala</a>
					</h4>
					<div class="worker-title-divider"></div>
					<p>Embassy Gold links,Cinnabar Hills off Intermediate Ring Road,Domlur | Stage Bengaluru KA 560071</p>
					
				</div>
				<div class="add-rating-container">
					<div class="rating-container"></div>
					<div class="review-value-details">186</div>
					<div class="add-rating"><a>Add Your Rating</a></div>
				</div>
			</div>
			<div class="overview">
				<h4 class="card-title">
					<a href="#">Overview</a>
				</h4>
				<div class="overview-title-divider"></div>
				<div class="overview-summary">
					<p>Located in a very refreshing area,with close proximity to metro and quirky cafes.Wework is a co-working space with a great community.We provide flexible seating options:Per seat module or segregated
						spaces for small and big teams,Or in case you need to separate your team in two-three groups.Wi-Fi and electricity is included in the rent cost.Basic beverages(Coffee,Tea,Etc.) are on the house.
					</p>
				</div>
				<div class="overview-more"><a href="#">Read More about WeWork</a></div>
				<div class="contact-wework"><a href="#">Contact WeWork</a></div>
			</div>
			
			<div class="overview">
				<h4 class="card-title">
					<a href="#">Why WeWork</a>
				</h4>
				<div class="overview-title-divider"></div>
				<div class="overview-summary-wework">
					<p> The members of our coworking spaces work in a wide variety of industries and they collectively have a wide breadth of areas of expertise.By pitching your idea to our members, you will often gain valuable insights.
					</p>
				</div>
			</div>
			
			<div class="space-available">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Spaces Available</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 available-space">
						<div class="card h-details">
							<a href="#"><img class="card-img-top" src="images/cardImage.jpg" alt=""></a>
							<div class="card-body">
								<div class="business-card-body">
									<h4 class="card-title">
									<a href="#">Business Lounge</a>
								  </h4>
								  <p>Informal drop in meeting spaces with free tea,coffee,secure wi-fi access to a printer,scanner and photocopier.</p>
								</div>
							</div>
							<div class="lower-card-body business-card">
								<h4>Suitable for :</h4>
							  <ul class="card-text">
								<li>Business Traveller</li>
								<li>Global Workspace</li>
								<li>On demand Access</li>
								<li>Business World</li>
							  </ul>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 available-space">
					  <div class="card h-details">
						<a href="#"><img class="card-img-top" src="images/cardImage.jpg" alt=""></a>
						<div class="card-body">
							<div class="virtual-office-card-body">
								<h4 class="card-title">
								<a href="#">Virtual Office</a>
							  </h4>
							   <p>Informal drop in meeting spaces with free tea,coffee,secure wi-fi access to a printer,scanner and photocopier.</p>
							</div>
						</div>
						<div class="lower-card-body virtual-office">
							<h4>Suitable for :</h4>
						  <ul class="card-text">
							<li>Business Traveller</li>
							<li>Global Workspace</li>
							<li>On demand Access</li>
							<li>Business World</li>
						  </ul>
						</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 available-space">
						  <div class="card h-details">
							<a href="#"><img class="card-img-top" src="images/cardImage.jpg" alt=""></a>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
									<a href="#">Meeting Rooms</a>
								  </h4>
								  <p>Informal drop in meeting spaces with free tea,coffee,secure wi-fi access to a printer,scanner and photocopier.</p>
								</div>
							</div>
							<div class="lower-card-body meeting-card">
								<h4>Suitable for :</h4>
							  <ul class="card-text">
								<li>Business Traveller</li>
								<li>Global Workspace</li>
								<li>On demand Access</li>
								<li>Business World</li>
							  </ul>
							</div>
						  </div>
					</div>
				</div>
			</div>
			
			<div class="basic-ammenties">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Basic Ammenties</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				
				<div class="row work-ammenties">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Work</a>
						</h4>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<ul>
							<li><img src="images/Conference Room.png"><span>Conference Rooms</span></li>
							<li><img src="images/Common Arar.png"><span>Unique Common Rooms</span></li>
							<li><img src="images/Photocopy.png"><span>Photocopiers</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Phone Booth.png"><span>Phone Booths</span></li>
							<li><img src="images/Printer.png"><span>Printers</span></li>
							<li><img src="images/TV _ Connector.png"><span>Tv & Connectors</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Internet_Wifi.png"><span>High Speed Internet</span></li>
							<li><img src="images/Scanners.png"><span>Scanners</span></li>
							<li><img src="images/Beanbag.png"><span>Bean Bags</span></li>
						</ul>
					</div>
				</div>
				
				<div class="row support-ammenties">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Support</a>
						</h4>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<ul>
							<li><img src="images/Onsite Staff.png"><span>Onsite Staff</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Cleaning Service.png"><span>Cleaning Services</span></li>
						</ul>
					</div>
					
				</div>
				
				<div class="row kitchen-ammenties">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Kitchen</a>
						</h4>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<ul>
							<li><img src="images/Induction.png"><span>Induction</span></li>
							<li><img src="images/Tea.png"><span>Tea</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Coffee.png"><span>Micro Roasted Coffee</span></li>
							<li><img src="images/Water.png"><span>Free Drinking Water</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Fruit Juices.png"><span>Fruit Water</span></li>
						</ul>
					</div>
				</div>
				
				<div class="row events-ammenties">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Events</a>
						</h4>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<ul>
							<li><img src="images/Professsional Events.png"><span>Professional Events</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Professsional Events.png"><span>Social Events</span></li>
						</ul>
					</div>
				</div>
				
				<div class="row unique-ammenties">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Unique to this Building</a>
						</h4>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<ul>
							<li><img src="images/Bike_Storage.png"><span>Bike Storage</span></li>
							<li><img src="images/Parking.png"><span>Parking</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Event Space.png"><span>Event Space</span></li>
							<li><img src="images/Dog Friendly.png"><span>Dog Friendly</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src="images/Wellenss Room.png"><span>Wellness Room</span></li>
							<li><img src="images/Smoking Room.png"><span>Smoking Room</span></li>
						</ul>
					</div>
				</div>
				
				<div class="row extra-ammenties">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Extra Amenties(Additional Charges*)</a>
						</h4>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<ul>
							<li><img src=""><span>Car Cleaning</span></li>
							<li><img src=""><span>Pet Care</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src=""><span>Car Cleaning</span></li>
							<li><img src=""><span>Pet Care</span></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<ul>
							<li><img src=""><span>Car Cleaning</span></li>
							<li><img src=""><span>Pet Care</span></li>
						</ul>
					</div>					
				</div>
				
				<div class="additional-charges">
					<p>*The Charges will be subject to WeWorks</p>
				</div>				
			</div>
			
			<div class="special-plans">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Special Plans</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				
				<div class="row plan-container">
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name part-time">
								<h4>Part Time</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
									<a href="#"><i class="fa fa-inr"></i>5499 per/month</a>
									<p>per person</p>
								  </h4>
								  <p>Use any available desk in the open area for 12 days out of a month</p>
								</div>
							</div>
							<div class="lower-card-body meeting-card-parttime">
							  <ul class="card-text">
								<li>Access to meeting rooms</li>
								<li>Freebies worth lacs from our partners</li>
								<li>Access to all hubs across the country</li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name bat-man">
								<h4>Batman</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
										<a href="#"><i class="fa fa-inr"></i>3999 per/month</a>
										<p>per person</p>
								  </h4>
								  <p>Work from any available desk in the open area on weekends and post 7.30 PM - 7.30 AM on weekdays</p>
								</div>
							</div>
							<div class="lower-card-body meeting-card-batman">
							  <ul class="card-text">
								<li>Access to all hubs across the country</li>								
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name student">
								<h4>Student</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
									<a href="#"><i class="fa fa-inr"></i>2999 per/day</a>
									<p>per person</p>
								  </h4>
								  <p>Acess to any available desk in the open area for 3 months with the option to move to any plan of your choice thereafter.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row plan-container">
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name registered-desk">
								<h4>Registered Desk</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
									<a href="#"><i class="fa fa-inr"></i>2199 per/day</a>
									<p>per person</p>
								  </h4>
								  <p>Receive postal mails c/0 91 springboard with mail forwarding functionality and a virtual receptionist service.You also get 10 hours of desk time.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name registered-desk">
								<h4>Registered Desk</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
										<a href="#"><i class="fa fa-inr"></i>2199 per/day</a>
										<p>per person</p>
								  </h4>
								  <p>Receive postal mails c/0 91 springboard with mail forwarding functionality and a virtual receptionist service.You also get 10 hours of desk time.</p>
								</div>
							</div>
							<div class="lower-card-body meeting-card-batman">
							  <ul class="card-text">
								<li>Access to all hubs across the country</li>								
							  </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="cost-structure">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Cost Structure</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				
				<div class="row desks-rate">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Desks</a>
						</h4>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-6 rate-type">
						<ul>
							<li><span>Dedicated desk</span>
								<p>per person</p>
							</li>							
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>15000 per/month</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-type">
						<ul>
							<li><span>Hot Desk</span>
								<p>per person</p>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>10000 per/month</span></li>
						</ul>
					</div>
				</div>
				
				<div class="row private-office">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Private Office</a>
						</h4>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-6 rate-type">
						<ul>
							<li><span>1 Seat</span></li>
							<li><span>3 Seat</span></li>
							<li><span>5 Seat</span></li>
							<li><span>8 Seat</span></li>
							<li><span>10 Seat</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>23,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>65,200 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>96,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,48,9000 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,85,200 per/month</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-type">
						<ul>
							<li><span>2 Seat</span></li>
							<li><span>4 Seat</span></li>
							<li><span>6 Seat</span></li>
							<li><span>9 Seat</span></li>
							<li><span>11-29 Seat</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>44,900 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>84,000 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,11,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,71,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>2,04,800 per/month</span></li>
						</ul>
					</div>
				</div>
				
			</div>
			
		</div>
		
		<div class ="col-lg-4 col-md-4 col-sm-6">
			<div class="price-rate">
				<p>Starting from <i class="fa fa-inr"></i><span>16,500/month</span></p>
			</div>
			<div class="message-us">
				<p>Talk to we work</p>
				<div class="actions">
					<a href="#about" class="btn-get-started">Message Us</a>
				</div>
			</div>
			<div class="visit-us">
				<p>Visit WeWork</p>
				<div class="actions">
					<a href="#about" class="btn-get-started">Book a Tour</a>
				</div>
				<div class="day-pass">
					<div class="actions">
						<a href="#about" class="btn-get-started">Request a Day Pass</a>
					</div>
				</div>
			</div>
			<div class="member-ship">
				<p>Become a Member</p>
				<div class="actions">
					<a href="#about" class="btn-get-started">Membership Enquiry</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container ">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Similar CoWorks in Koramangala</h3>
          <div class="section-title-divider"></div>
        </div>
    </div>
	
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card h-listing">
            <a href="#"><img class="card-img-top" src="images/annie-spratt-294450.jpg" alt=""></a>
            <div class="card-body">
				<div class="upper-card-body">
					<h4 class="card-title">
						<a href="#">WeWork,Koramangala</a>
					</h4>
				  <p>Embassy Gold links,Cinnabar Hills off Intermediate Ring Road,Domlur | Stage Bengaluru KA 560071</p>
				</div>
			</div>
            <div class="price-rating-container">
				
				<div class="price-rate">
					<p>Starting from <i class="fa fa-inr"></i><span>16,500/month</span></p>
				</div>
				<div class ="day-Pass">
					<a href="#" class="btn btn-default"><span>Free</span><br><span>Day Pass</a>
				</div>
				<div class="review-value">186</div>
			</div>
          </div>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card h-listing">
            <a href="#"><img class="card-img-top" src="images/annie-spratt-294450.jpg" alt=""></a>
            <div class="card-body">
				<div class="upper-card-body">
					<h4 class="card-title">
						<a href="#">WeWork,Koramangala</a>
					</h4>
				  <p>Embassy Gold links,Cinnabar Hills off Intermediate Ring Road,Domlur | Stage Bengaluru KA 560071</p>
				</div>
			</div>
            <div class="price-rating-container">
				
				<div class="price-rate">
					<p>Starting from <i class="fa fa-inr"></i><span>16,500/month</span></p>
				</div>
				<div class ="day-Pass">
					<a href="#" class="btn btn-default"><span>Free</span><br><span>Day Pass</a>
				</div>
				<div class="review-value">186</div>
			</div>
          </div>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card h-listing">
            <a href="#"><img class="card-img-top" src="images/annie-spratt-294450.jpg" alt=""></a>
            <div class="card-body">
				<div class="upper-card-body">
					<h4 class="card-title">
						<a href="#">WeWork,Koramangala</a>
					</h4>
				  <p>Embassy Gold links,Cinnabar Hills off Intermediate Ring Road,Domlur | Stage Bengaluru KA 560071</p>
				</div>
			</div>
            <div class="price-rating-container">
				
				<div class="price-rate">
					<p>Starting from <i class="fa fa-inr"></i><span>16,500/month</span></p>
				</div>
				<div class ="day-Pass">
					<a href="#" class="btn btn-default"><span>Free</span><br><span>Day Pass</a>
				</div>
				<div class="review-value">186</div>
			</div>
          </div>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card h-listing">
            <a href="#"><img class="card-img-top" src="images/annie-spratt-294450.jpg" alt=""></a>
            <div class="card-body">
				<div class="upper-card-body">
					<h4 class="card-title">
						<a href="#">WeWork,Koramangala</a>
					</h4>
				  <p>Embassy Gold links,Cinnabar Hills off Intermediate Ring Road,Domlur | Stage Bengaluru KA 560071</p>
				</div>
			</div>
            <div class="price-rating-container">
				
				<div class="price-rate">
					<p>Starting from <i class="fa fa-inr"></i><span>16,500/month</span></p>
				</div>
				<div class ="day-Pass">
					<a href="#" class="btn btn-default"><span>Free</span><br><span>Day Pass</a>
				</div>
				<div class="review-value">186</div>
			</div>
          </div>
        </div>
	</div>
 </div> -->

<div class="container ">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Other WeWorks in Bengaluru</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>
     <div class="row popular-cowork">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/cardImage.jpg" alt=""></a>
            <div class="cardContent">
				<h3>Coworks,Ecoworld</h3>
				<p><img src="images/Location.png" alt=""></img>Bengaluru,India</p>
			</div>
          </div>
        </div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/cardImage.jpg" alt=""></a>
            <div class="cardContent">
				<h3>Coworks,Ecoworld</h3>
				<p><img src="images/Location.png" alt=""></img>Bengaluru,India</p>
			</div>
          </div>
        </div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/cardImage.jpg" alt=""></a>
            <div class="cardContent">
				<h3>Coworks,Ecoworld</h3>
				<p><img src="images/Location.png" alt=""></img>Bengaluru,India</p>
			</div>
          </div>
        </div>
      </div>
 </div>

<section id="add-work">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Do You own a Coworking space? List with us</h3>
        </div>
        <div class="col-md-4 add-btn-container">
          <a class="add-btn" href="#">Add Your Cowork</a>
        </div>
      </div>
    </div>
  </section>
  
  <section id="footer">
    <div class="container-fluid wow fadeInUp">
      <div class="row">
        <div class="col-md-12 footer-logo">
			<a href="#"><img src="images/small_logo.png"></a>
        </div>
      </div>
    </div>
  </section>
 
  <section id="footer">
	<div class="container-fluid wow fadeInUp">
		<div class="row">
        <div class="col-lg-3 col-sm-6">
			<ul>
				<li><h4>The Startup Network</h4></li>
				<div class="footer-title-divider"></div>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Coworks</a></li>
				<li><a href="contactus.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-lg-3 col-sm-6">
			<ul>
				<li><h4>Space Types</h4></li>
				<div class="footer-title-divider"></div>
				<li><a href="#">Co-working Hot Desk</a></li>
				<li><a href="#">Co-working Dedicated Desk</a></li>
				<li><a href="#">Virtual Office</a></li>
				<li><a href="#">Private Office</a></li>
				<li><a href="#">Meeting Room</a></li>
			</ul>
		</div>
		<div class="col-lg-3 col-sm-6">
			<ul>
				<li><h4>Location</h4></li>
				<div class="footer-title-divider"></div>
				<li><a href="#">Bengaluru</a></li>
				<li><a href="#">Mumbai</a></li>
			</ul>
		</div>
		<div class="col-lg-3 col-sm-6 social-media">
				<ul>
					<li><h4>Connect with us</h4></li>
					<div class="footer-title-divider"></div>
					<li class="facebook"><a href="#"><img src="images/fb.png"></img></a></li>
					<li class="linkedin"><a href="#"><img src="images/Linkedin.png"></img></a></li>
				</ul>
		</div>
      </div>
	</div>
  </section>
  
  <section id="footer">
	 <div class="container-fluid wow fadeInUp">
		<div class="row">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-md-12">
			  <div class="copyright">
				&copy; Copyright 2017 The Startup Network Pvt.Ltd.All Rights Reserved.
			  </div>
			  <div class="credits">
				Privacy Policy | Terms & Conditions
			  </div>
			</div>
		  </div>
		</div>
      </div>
	 </div>
 </section>

</body>
</html>