{% extends 'base.html' %}

{% load custom_filters %}

{% block custom_css %}
    <link rel="stylesheet" href="{% custom_static 'assets/css/startup.css' %}">
	<link rel="stylesheet" href="{% custom_static 'assets/css/details.css' %}">
{% endblock %}

{% block custom_js %}
	<script src="{% custom_static 'assets/js/details.js' %}"></script>
{% endblock %}

{% block content %}
<section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="actions bottom-right">
			<a href="#about" class="btn-get-started">View All Photos</a>
		</div>
      </div>
    </div>
</section>

<div class="container">
	<div class ="row">
		<div class ="col-lg-8 col-md-8 col-sm-6">
			<div class="detail-container">
				<div class="worker-name">
					<h4 class="card-title">
						<a href="#">{{data.name}}</a>
					</h4>
					<div class="worker-title-divider"></div>
					<p>{{data.address}}</p>
					
				</div>
				<div class="add-rating-container">
					<div class="rating-container"></div>
					<div class="review-value-details">186</div>
					<div class="add-rating"><a>Add Your Rating</a></div>
				</div>
			</div>
			<div class="overview">
				<h4 class="card-title">
					<a href="#">Overview</a>
				</h4>
				<div class="overview-title-divider"></div>
				<div class="overview-summary">
					<p>{{data.description}}</p>
				</div>
				<div class="contact-wework"><a href="#">Contact {{data.name}}</a></div>
			</div>
			<div class="overview">
				<h4 class="card-title">
					<a href="#">Why {{data.name}}</a>
				</h4>
				<div class="overview-title-divider"></div>
				<div class="overview-summary-wework">
					<p> {{data.reasons_to_choose}}
					</p>
				</div>
			</div>
		</div>
		<div id="rightContent" class ="col-lg-4 col-md-4 col-sm-6 membership-data">
			<div class="price-rate-value">
				<p>Starting from <i class="fa fa-inr"></i><span>{{data.starting_price}}/month</span></p>
			</div>
			<div class="message-us">
				<p>Talk to {{data.name}}</p>
				<div class="actions">
					<a href="#about" class="btn-get-started">Message Us</a>
				</div>
			</div>
			<div class="visit-us">
				<p>Visit {{data.name}}</p>
				<div class="actions">
					<a href="#about" class="btn-get-started">Book a Tour</a>
				</div>
				<div class="day-pass">
					<div class="actions">
						<a href="#about" class="btn-get-started">Request a Day Pass</a>
					</div>
				</div>
			</div>
			<div class="member-ship">
				<p>Become a Member</p>
				<div class="actions">
					<a href="#about" class="btn-get-started">Membership Enquiry</a>
				</div>
			</div>
		</div>
		<div class="report_cowork"><img src="{% custom_static 'assets/images/Flag.png' %}"/><p>Report this Listing<p></div>
	</div>
	<div class="row">
		<div class ="col-lg-8 col-md-8 col-sm-6">
		
			<div class="space-available">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Spaces Available</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				
				<div class="row">
					{% for membership in space_types %}
						<div class="col-lg-4 col-md-4 col-sm-6 available-space">
						<div class="card h-details">
							<a href="#"><img class="card-img-top" src="{% custom_static 'assets/images/cardImage.jpg' %}" alt=""/></a>
							<div class="card-body">
								<div class="{{membership.header_class}}">
									<h4 class="card-title">
									<a href="#">{{membership.name}}</a>
								  </h4>
								  {% if membership.description %}
									<p>{{membership.description}}</p>
								 {% else %}
								  <p>Informal drop in meeting spaces with free tea,coffee,secure wi-fi access to a printer,scanner and photocopier.</p>
								 {% endif %}
								</div>
							</div>
							<div class="lower-card-body {{membership.suitable_class}}">
								<h4>Suitable for :</h4>
							  <ul class="card-text">
								{% for suitable_for in membership.suitable_for %}
									<li>{{suitable_for}}</li>
								  {% endfor %}
							  </ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="more-spaces"><span>More Spaces <img src="{% custom_static 'assets/images/down-arrow.png' %}"/></span></div>
				</div>
			</div>
			
			<div class="basic-ammenties">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Basic Amenities</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>

				{% for key, value in data.amenities.items %}
					<div class="row {{key|amenity_filter_class}}">
						<div class="col-lg-12 col-md-12 col-sm-6">
							<h4 class="card-title">
								<a href="#">{{key}}</a>
							</h4>
						</div>
					{% for amenity_list in value %}
						{% for amenity in amenity_list %}
						<div class="col-lg-4 col-md-4 col-sm-6 ">
							<ul>

								{% with amenity.name as amenity_name %}
								{% with 'assets/images/'|add:amenity_name|add:'.png' as amenity_image %}
								<li><img src="{% custom_static amenity_image %}"/><span>{{amenity.name}}</span></li>
								{% endwith %}
								{% endwith %}
							</ul>
						</div>
						{% endfor %}
					{% endfor %}

				</div>
				{% endfor %}

				
				<div class="additional-charges">
					<p>*The Charges will be subject to {{data.name}}</p>
				</div>				
			</div>
			
			<div class="special-plans">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Special Plans</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				<div class="row plan-container">
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name part-time">
								<h4>Part Time</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
									<a href="#"><i class="fa fa-inr"></i>5499 per/month</a>
									<p>per person</p>
								  </h4>
								  <p>Use any available desk in the open area for 12 days out of a month</p>
								</div>
							</div>
							<div class="lower-card-body meeting-card-parttime">
							  <ul class="card-text">
								<li>Access to meeting rooms</li>
								<li>Freebies worth lacs from our partners</li>
								<li>Access to all hubs across the country</li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name bat-man">
								<h4>Batman</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
										<a href="#"><i class="fa fa-inr"></i>3999 per/month</a>
										<p>per person</p>
								  </h4>
								  <p>Work from any available desk in the open area on weekends and post 7.30 PM - 7.30 AM on weekdays</p>
								</div>
							</div>
							<div class="lower-card-body meeting-card-batman">
							  <ul class="card-text">
								<li>Access to all hubs across the country</li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name student">
								<h4>Student</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
									<a href="#"><i class="fa fa-inr"></i>2999 per/day</a>
									<p>per person</p>
								  </h4>
								  <p>Acess to any available desk in the open area for 3 months with the option to move to any plan of your choice thereafter.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row plan-container">
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name registered-desk">
								<h4>Registered Desk</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
									<a href="#"><i class="fa fa-inr"></i>2199 per/day</a>
									<p>per person</p>
								  </h4>
								  <p>Receive postal mails c/0 91 springboard with mail forwarding functionality and a virtual receptionist service.You also get 10 hours of desk time.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 ">
						<div class="rate-card">
							<div class="plan-name registered-desk">
								<h4>Registered Desk</h4>
							</div>
							<div class="card-body">
								<div class="meeting-card-body">
									<h4 class="card-title">
										<a href="#"><i class="fa fa-inr"></i>2199 per/day</a>
										<p>per person</p>
								  </h4>
								  <p>Receive postal mails c/0 91 springboard with mail forwarding functionality and a virtual receptionist service.You also get 10 hours of desk time.</p>
								</div>
							</div>
							<div class="lower-card-body meeting-card-batman">
							  <ul class="card-text">
								<li>Access to all hubs across the country</li>
							  </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="cost-structure">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Cost Structure</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				
				<div class="row desks-rate">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Desks</a>
						</h4>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-6 rate-type">
						<ul>
							<li><span>Dedicated desk</span>
								<p>per person</p>
							</li>							
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>15000 per/month</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-type">
						<ul>
							<li><span>Hot Desk</span>
								<p>per person</p>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>10000 per/month</span></li>
						</ul>
					</div>
				</div>
				
				<div class="row private-office">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Private Office</a>
						</h4>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-4 rate-type">
						<ul>
							<li><span>1 Seat</span></li>
							<li><span>3 Seat</span></li>
							<li><span>5 Seat</span></li>
							<li><span>8 Seat</span></li>
							<li><span>10 Seat</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>23,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>65,200 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>96,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,48,9000 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,85,200 per/month</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-type">
						<ul>
							<li><span>2 Seat</span></li>
							<li><span>4 Seat</span></li>
							<li><span>6 Seat</span></li>
							<li><span>9 Seat</span></li>
							<li><span>11-29 Seat</span></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i>44,900 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>84,000 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,11,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>1,71,500 per/month</span></li>
							<li><span><i class="fa fa-inr"></i>2,04,800 per/month</span></li>
						</ul>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>

{% if similar_coworks|length > 0 %}
 <div class="container similar-coworks">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Similar CoWorks in {{data.locality}}</h3>
          <div class="section-title-divider"></div>
        </div>
    </div>

	<div class="row similar-types-coworks">
		{% for cowork in similar_coworks %}
		<div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card h-listing">
            <a href="#"><img class="card-img-top" src="{% custom_static 'assets/images/annie-spratt-294450.jpg' %}" alt=""></a>
            <div class="card-body">
				<div class="upper-card-body">
					<h4 class="card-title">
						<a href="#">{{cowork.name}}</a>
					</h4>
				  <p>{{cowork.address}}</p>
				</div>
			</div>
            <div class="price-rating-container">
				<div class="price-rate">
					<p>Starting from <i class="fa fa-inr"></i><span>{{cowork.starting_from}}/month</span></p>
				</div>
				<div class ="day-Pass">
					<a href="#" class="btn btn-default"><span>Free</span><br><span>Day Pass</a>
				</div>
				<div class="review-value">186</div>
			</div>
          </div>
        </div>
		{% endfor %}
	</div>

 </div>
{% endif %}

 {% if other_coworks_in_city %}
<div class="container ">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title other-weworks">Other {{data.parent_cowork}} in {{data.city}}</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>
     <div class="row popular-cowork">
		 {% for cowork in other_coworks_in_city %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{% custom_static 'assets/images/cardImage.jpg' %}" alt=""></a>
            <div class="cardContent">
				<h3>{{cowork.name}}</h3>
				<p><img src="{% custom_static 'assets/images/Location.png' %}" alt=""/>{{cowork.address}}</p>
			</div>
          </div>
        </div>
		 {% endfor %}

      </div>
 </div>
{% endif %}

<input type="hidden" id="image_url" value="{% if data.banner_image %}/{{data.banner_image}}
				 {% else %} {% custom_static 'assets/images/annie-spratt-294450.jpg' %} {% endif %}"/>

 {% endblock %}