{% extends 'base.html' %}

{% load custom_filters %}

{% block custom_css %}
	
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="{%custom_static 'assets/font-awesome/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% custom_static 'assets/css/details.css' %}">
	<link rel="stylesheet" type="text/css" href="{% custom_static 'assets/css/message-us.css ' %}">
  	<link rel="stylesheet" type="text/css" href="{% custom_static 'assets/css/message-sent.css' %}">
    <link rel="stylesheet" href="{% custom_static 'assets/css/message-sent-wework.css' %}" type="text/css"/>
 	<link rel="stylesheet" type="text/css" href="{% custom_static 'assets/css/member-ship.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% custom_static 'assets/css/contact-wework.css' %}">
    <link rel="stylesheet" href="{% custom_static 'assets/css/add-cowork.css' %}" type="text/css' %}"/>
	<link rel="stylesheet" href="{% custom_static 'assets/css/day-pass.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% custom_static 'assets/css/day-pass-sent.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% custom_static 'assets/css/book-a-tour.css' %}" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{% custom_static 'assets/css/bootstrap-datetimepicker.min.css' %}">
  
{% endblock %}

{% block custom_js %}
	<script src="{% custom_static 'assets/js/details.js' %}"></script>
	<script src="{% custom_static 'assets/js/message-us.js' %}"></script>
	<script src="{% custom_static 'assets/js/message-sent-wework.js' %}"></script>
	<script src="{% custom_static 'assets/js/member-ship.js' %}"></script>
	<script src="{% custom_static 'assets/js/enquiry-sent.js' %}"></script>
	<script src="{% custom_static 'assets/js/tour-booked-sent.js' %}"></script>
	<script src="{% custom_static 'assets/js/contact-wework.js' %}"></script>
	<script src="{% custom_static 'assets/js/add-cowork.js' %}"></script>
	<script type="text/javascript" src="{% custom_static 'assets/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>

{% endblock %}

{% block content %}
<section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="actions bottom-right">
			<a href="#about" class="btn-get-started">View All Photos</a>
		</div>
      </div>
    </div>
</section>

<div class="container">
	<div class ="row">
		<div class ="col-lg-8 col-md-8 col-sm-6">
			<div class="detail-container">
				<div class="worker-name">
					<h4 class="card-title">
						<a href="#">{{data.name}}</a>
					</h4>
					<div class="worker-title-divider"></div>
					<p>{{data.address}}</p>
					
				</div>
				<div class="add-rating-container">
					<div class="rating-container"></div>
					<div class="review-value-details">186</div>
					<div class="add-rating"><a>Add Your Rating</a></div>
				</div>
			</div>
			<div class="overview">
				<h4 class="card-title">
					<a href="#">Overview</a>
				</h4>
				<div class="overview-title-divider"></div>
				<div class="overview-summary">
					<p>{{data.description}}</p>
				</div>
				<div class="contact-wework message-us-popup"><a href="#">Contact {{data.name}}</a></div>
			</div>
			{% if data.reasons_to_choose %}
			<div class="overview">
				<h4 class="card-title">
					<a href="#">Why {{data.name}}</a>
				</h4>
				<div class="overview-title-divider"></div>
				<div class="overview-summary-wework">
					<p> {{data.reasons_to_choose}}
					</p>
				</div>
			</div>
			{% endif %}
		</div>
		<div id="rightContent" class ="col-lg-4 col-md-4 col-sm-6 membership-data">
			<div class="price-rate-value">
				<p>Starting from <i class="fa fa-inr"></i><span>{{data.starting_price}}/month</span></p>
			</div>
			<div class="message-us">
				<p>Talk to {{data.name}}</p>
				<div class="actions">
					<a id="message-us-popup" class="btn-get-started message-us-popup">Message Us</a>
				</div>
			</div>
			<div class="visit-us">
				<p>Visit {{data.name}}</p>
				<div class="actions">
					<a id="book-tour-popup" class="btn-get-started">Book a Tour</a>
				</div>
				<div class="day-pass">
					<div class="actions">
						<a id="day-pass-button" class="btn-get-started">Request a Day Pass</a>
					</div>
				</div>
			</div>
			<div class="member-ship">
				<p>Become a Member</p>
				<div class="actions">
					<a id="member-ship" class="btn-get-started">Membership Enquiry</a>
				</div>
			</div>
			<div class="report_cowork"><img src="{% custom_static 'assets/images/Flag.png' %}"/><p>Report this Listing<p></div>
		</div>
	</div>
	<div class="row">
		<div class ="col-lg-8 col-md-8 col-sm-6">
		
			<div class="space-available">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Spaces Available</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>
				
				<div class="row">

					{% for membership in space_types %}
						<div class="col-lg-4 col-md-4 col-sm-6 available-space">
						<div class="card h-details">
							<a href="#"><img class="card-img-top" src="{% custom_static 'assets/images/cardImage.jpg' %}" alt=""/></a>
							<div class="card-body">
								<div class="{{membership.header_class}}">
									<h4 class="card-title">
									<a href="#">{{membership.name}}</a>
								  </h4>
								  {% if membership.description %}
									<p>{{membership.description}}</p>
								 {% else %}
								  <p>Informal drop in meeting spaces with free tea,coffee,secure wi-fi access to a printer,scanner and photocopier.</p>
								 {% endif %}
								</div>
							</div>
							<div class="lower-card-body {{membership.suitable_class}}">
								<h4>Suitable for :</h4>
							  <ul class="card-text">
								{% for suitable_for in membership.suitable_for %}
									<li>{{suitable_for}}</li>
								  {% endfor %}
							  </ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="more-spaces"><span>More Spaces <img src="{% custom_static 'assets/images/down-arrow.png' %}"/></span></div>
					<div class="less-spaces"><span>Less Spaces <img src="{% custom_static 'assets/images/up-arrow.png' %}"/></span></div>
				</div>
			</div>
			
			<div class="basic-ammenties">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Basic Amenities</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>

				{% for key, value in data.amenities.items %}
					<div class="row {{key|amenity_filter_class}}">
						{% if value %}
						<div class="col-lg-12 col-md-12 col-sm-6">
							<h4 class="card-title">
								<a href="#">{{key}}</a>
							</h4>
						</div>
						{% endif %}
						{% for amenity_list in value %}
							{% for amenity in amenity_list %}
								<div class="col-lg-4 col-md-4 col-sm-6 ">
									<ul>

										{% with amenity.name as amenity_name %}
										{% with 'assets/images/'|add:amenity_name|add:'.png' as amenity_image %}
										<li><img src="{% custom_static amenity_image %}"/><span>{{amenity.name}}</span></li>
										{% endwith %}
										{% endwith %}
									</ul>
								</div>

						{% endfor %}
					{% endfor %}


				</div>
				{% endfor %}

				
				<div class="additional-charges">
					<p>*The Charges will be subject to {{data.name}}</p>
				</div>				
			</div>
			

			
			<div class="cost-structure">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">Cost Structure</a>
						</h4>
						<div class="overview-title-divider"></div>
					</div>
				</div>

				{% for name, value in data.pricing.items %}

				<div class="row desks-rate">
					<div class="col-lg-12 col-md-12 col-sm-6">
						<h4 class="card-title">
							<a href="#">{{name}}</a>
						</h4>
					</div>
					{% for data in value %}
					<div class="col-lg-4 col-md-4 col-sm-6 rate-type">
						<ul>
							<li><span>{{name}}</span>
								<!--<p>per person</p>-->
							</li>
						</ul>
					</div>
					{% if data.seats %}
					<div class="col-lg-4 col-md-4 col-sm-4 rate-type">
						<ul>
							<li><span>{{data.seats}} Seat{{data.seats|pluralize}}</span></li>
						</ul>
					</div>
					{% endif %}
					<div class="col-lg-4 col-md-4 col-sm-6 rate-value">
						<ul>
							<li><span><i class="fa fa-inr"></i> {{data.price}} per/{{data.time_unit}}</span></li>
						</ul>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
</div>

{% if similar_coworks|length > 0 %}
 <div class="container similar-coworks">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Similar CoWorks in {{data.locality}}</h3>
          <div class="section-title-divider"></div>
        </div>
    </div>

	<div class="row similar-types-coworks">
		{% for cowork in similar_coworks %}
		<div class="col-lg-3 col-md-3 col-sm-6">
          <div class="card h-listing">
            <a href="{{cowork.url}}"><img class="card-img-top" src="{% custom_static 'assets/images/annie-spratt-294450.jpg' %}" alt=""></a>
            <div class="card-body">
				<div class="upper-card-body">
					<h4 class="card-title">
						<a href="{{cowork.url}}">{{cowork.name}}</a>
					</h4>
				  <p>{{cowork.address}}</p>
				</div>
			</div>
            <div class="price-rating-container">
				<div class="price-rate">
					<p>Starting from <i class="fa fa-inr"></i><span>{{cowork.starting_from}}/month</span></p>
				</div>
				<div class ="day-Pass">
					<a href="#" class="btn btn-default"><span>Free</span><br><span>Day Pass</a>
				</div>
				<div class="review-value">186</div>
			</div>
          </div>
        </div>
		{% endfor %}
	</div>

 </div>
{% endif %}

 {% if other_coworks_in_city %}
<div class="container ">
	<div class="row">
        <div class="col-md-12">
          <h3 class="section-title other-weworks">Other {{data.parent_cowork}} in {{data.city}}</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>
     <div class="row popular-cowork">
		 {% for cowork in other_coworks_in_city %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{cowork.url}}"><img class="card-img-top" src="{% custom_static 'assets/images/cardImage.jpg' %}" alt="">
				<div class="cardContent">
					<h3>{{cowork.name}}</h3>
					<p><img src="{% custom_static 'assets/images/Location.png' %}" alt=""/>{{cowork.address}}</p>
				</div>
			</a>
          </div>
        </div>
		 {% endfor %}

      </div>
 </div>
{% endif %}


{% include 'message-us-modal.html' %}
{% include 'message-sent-cowork-modal.html' %}

{% include 'membership-enquiry-modal.html' %}
{% include 'enquiry-sent-modal.html' %}

{% include 'contact-cowork-modal.html' %}
{% include 'add-cowork-modal.html' %}

{% include 'day-pass-modal.html' %}
{% include 'book-a-tour.html' %}
<script src="{% custom_static 'assets/js/day-pass.js' %}"></script>
<script src="{% custom_static 'assets/js/book-a-tour.js' %}"></script>

<input type="hidden" id="image_url" value="{% if data.banner_image %}/{{data.banner_image}}
				 {% else %} {% custom_static 'assets/images/annie-spratt-294450.jpg' %} {% endif %}"/>
<input type="hidden" value="{{data.slug}}" id="cowork_slug"/>
 {% endblock %}