<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>

        {% load custom_filters %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>The Startup Network</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% custom_static 'assets/js/subscribe.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% custom_static 'assets/css/style.css' %}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div class="wrap">
			<div class="content">
				<div class="logo">
					<a href="index.html"><h1>The Startup Network</h1></a>
				</div>
				<p>Be ready, we are launching soon &#33;</p>
				<div class="form">
					<form id="subscribe-form">
						<input placeholder="Please enter your email address" id="email" type="email" tabindex="2" required>
						<input type="submit" name="submit" id="contact-submit">

					</form>
                    <p class="text-success" id="subscribe-success"></p>
                    <p class="text-danger" id="subscribe-error"></p>

				</div>
				<div class="footer">
				<div class="social-icons">
					   <a href="#"><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><img src="{% custom_static 'assets/img/f.png' %}"></span></a>
				       <a href="#"> <span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><img src="{% custom_static 'assets/img/r.png' %}"></span></a>
				       <a href="#">  <span class="simptip-position-bottom simptip-movable" data-tooltip="Twitter"><img src="{% custom_static 'assets/img/t1.png' %}"></span></a>
					<div class="clear"> </div>
				</div>
				<p class="copy">&#169; 2013 Designed by<a href="http://w3layouts.com" target="_blank">&nbsp;w3layouts</a> </p>
				</div>
			</div>
		</div>
	</body>
</html>

