{% load custom_filters %}
<div id="membership-enquiry-modal" class="modal">
	<div class="modal-content">
		<span class="membership-close" id="membership-close">&#10005;</span>
		<div id="membership-enquiry-form">
			<form action="#" name="registration">
				<h2 style="text-align:center">Membership Enquiry</h2>
					<div id="input">
						<table id="form">
							<tr>
								<td><input type="text" id="name" placeholder="Name*" required></td>
							</tr>
							<tr>
								<td><input type="email" id="email" placeholder="Email*" required></td>
							</tr>
							<tr>
								<td><input type="text" id="phone" minlength="10" maxlength="20" placeholder="Phone" maxlength="12" onclick="phone();" required></td>
							</tr>
							<tr>
								<td><textarea name="" id="message" cols="30" rows="10" minlength="3" maxlength="100" placeholder="Enquiry*" required></textarea></td>
							</tr>
							<tr>
								<td><input type="submit" value="Submit"></td>
							</tr>
							<tr>
								<td class="mandatory">*Mandatory Fields</td>
							</tr>
						</table>
					</div>
			</form>
        </div>
	</div>
  </div>


<div id="enquiry-sent" class="modal">
		<div class="modal-content">
			<span id="enquiry-sent-close" class="day-pass-request-sent-close">&#10005;</span>
			<img class="image" src="{% custom_static 'assets/images/tick.png' %}"/>
            <h1> Enquiry sent to {{data.name}}!</h1>
            <p>{{data.name}} will get in touch with you shortly.</p>
		</div>
  </div>