{% load custom_filters %}
<!--  Message us Modal Box   -->

  <div id="message-us-modal" class="modal">
	<div class="modal-content">
		<span class="message-close">&#10005;</span>
		<div>
			<form name="message" id="message-us-form">
			   <h1> Message Us</h1>
			   <p class="para"> We are still building The Startup Network! </p>
			   <p class="para"> Drop your email id, we will notify you. </p>
			   <div id="input">
					<table id="form">
						<tr>
							<td><input type="email" id="message-us-email" placeholder="Email" required></td>
						</tr>
						<tr>
							<td><input type="submit" id="message-us-button" value="Submit"></td>
						</tr>
					</table>
			   </div>
				<p class="para-2"> We promise, we never spam </p>
			</form>
		</div>
	</div>
  </div>



